@font-face {
	font-family: Mazda;
	font-style: normal;
	font-weight: 400;
    src: url("../fonts/MAZDATYPE-REGULAR.OTF") format("opentype");
}

@font-face {
    font-family: Mazda;
    font-style: bold;
    src: url("../fonts/MAZDATYPE-BOLD.OTF") format("opentype");
}

@font-face {
    font-family: Mazda;
    font-style: normal;
	font-weight: 500;
    src: url("../fonts/MAZDATYPE-MEDIUM.OTF") format("opentype");
}

body {
	margin: 0;
	background-color: #000;
	font-weight: normal;
	font-weight: 500;
	color: #fff;
	font-family: Mazda;
	font-size: 13px;
	line-height: 24px;
	overflow: hidden !important;
}

#mainCanvas{
	width: 100%;
   	height: 100%;
	display: block;
	overflow: hidden;
}

#mainContainer{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

/* Efecto point */

.item {
	position: absolute;
	height: 15px;
	width: 15px;
	cursor: pointer;
	/* background: #56c886;
	border-radius: 100%; */
  }
  /* .item:before,
  .item:after {
	border: 1px solid #56c886;
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	height: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 100%;
	transform-origin: center center;
	opacity: 0;
	box-sizing: border-box;
  }
  .item:before {
	animation: 1s .1s pulse2 infinite linear;
  }
  .item::after {
	animation: 1s pulse infinite linear;
  } 
  @keyframes pulse {
	0% {
	  transform: scale(2);
	  opacity: .2;
	}
	100% {
	  transform: scale(2.3);
	  opacity: 0;
	}
  }
  @keyframes pulse2 {
	0% {
	  transform: scale(1.5);
	  opacity: .5;
	}
	100% {
	  transform: scale(1.8);
	  opacity: 0;
	}
  } */
  
/* Texto puntos */
.item-text {
	margin-left: 2rem;
	font-family: Mazda, serif;
}


/* Circle gradient */
.dot {
	position: absolute;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	z-index: 50;
	border: 3px solid #fff;
	cursor: pointer;
	opacity: 0;
}

.dot-red{
	top: 80%;
	left: 26%;
	background-color: #a70000;
	background-image: radial-gradient(#a70000, #620000);
	display: none;
}

.dot-gray{
	top: 80%;
	left: 34%;
	background-color: #7a8292;
	background-image: radial-gradient(#7a8292, #4d4d4d);
	display: none;
}

.dot-blue{
	top: 80%;
	left: 42%;
	background-color: #273754;
	background-image: radial-gradient(#273754, #112939);
	display: none;
}

.dot-gray2{
	top: 80%;
	left: 50%;
	background-color: #4f535b;
	background-image: radial-gradient(#4f535b, #333333);
	display: none;
}

.dot-black{
	top: 80%;
	left: 58%;
	background-color: #13111a;
	background-image: radial-gradient(#13111a, #000000);
	display: none;
}

.dot-white{
	top: 80%;
	left: 66%;
	background-color: #ffffff;
	background-image: radial-gradient(#ffffff, #cccccc);
	display: none;
}

.dot-close{
	top: 80%;
	left: 74%;
	background-color: #333;
}

.before,
.after {
    content: '';
    position: absolute;
    width: 42px;
    height: 2px;
    background-color: white;
    border-radius: 0;
    top: 27px;
    -webkit-transition: 150ms ease-out;
    -moz-transition: 150ms ease-out;
    -o-transition: 150ms ease-out;
    transition: 150ms ease-out;
    z-index: 0;
}
.before {
    left: 7px;
}
.after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 7px;
}
.dot-close:hover {
    border: 1px solid #717171;
    padding-bottom: 1px;
}
.dot-close:hover .before {
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: 300ms ease-in-out all;
    -moz-transition: 300ms ease-in-out all;
    -o-transition: 300ms ease-in-out all;
    transition: 300ms ease-in-out all;

}
.dot-close:hover .after {
    -ms-transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
    -webkit-transition: 250ms ease-in all;
    -moz-transition: 250ms ease-in all;
    -o-transition: 250ms ease-in all;
    transition: 250ms ease-in all;
}

/* Texts */

.txt{
	color: white;
}

#txt_Design{
	width: 20rem;
	position: absolute;
	top: 30%;
	left: 5%;
	z-index: 50;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 0.5rem;
	font-family: Mazda, serif;
}

#puntoPuerta1,
#puntoHeadLight,
#trunkPoint{
	opacity: 0;
}

#puntoPuerta1:hover,
#puntoHeadLight:hover,
#trunkPoint:hover{
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#puntoPuerta1:hover::after,
#puntoHeadLight:hover::after,
#trunkPoint:hover::after{
	animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
}

/* FadeOut */

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

/* FadeIn */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Cambio interiores */

.innerDesign-container{
	text-align: center;
	position: absolute;
	border: 2px solid white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	opacity: 0;
}

.innerDesign-container-first{
	top: 80%;
	left: 40%;
	background: linear-gradient(to bottom,#003563 0%,#003563 15%,rgba(0, 0, 0, 0.5) 15%,rgba(0, 0, 0, 0.5) 100%);
}

.innerDesign-container-second{
	top: 80%;
	left: 60%;
	background: linear-gradient(to bottom,#565055 0%,#565055 15%,rgba(0, 0, 0, 0.5) 15%,rgba(0, 0, 0, 0.5) 100%);
}

.dot-interiorColor1{
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	z-index: 50;
	border: 3px solid #fff;
	cursor: pointer;
	background-color: #1a1a1a;
	
}

.dot-interiorColor2{
	display: inline-block;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	z-index: 50;
	border: 3px solid #fff;
	cursor: pointer;
	background-color: #1a1a1a;
}

.dot-interiorColor3{
	display: inline-block;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	z-index: 50;
	border: 3px solid #fff;
	cursor: pointer;
	background-color: #c7b299;
}

/* Loading */

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 1;
	background-color: #292929;
	z-index: 99;
	text-align: center;
	font-family: Mazda, serif;
 }

 .loader {
	position: relative;
	left: 40%;
	top: 30%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#ffffff, #b5b5b5, #6b6b6b);
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#ffffff, #b5b5b5, #6b6b6b);
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #292929;
    border-radius: 50%;
}

.loading-text {
	position: absolute;
	top: 43%;
	left: 42%;
	font-family: Mazda, serif;
	z-index: 100;
	font-weight: 500 !important;
	font-size: 2rem;
	text-shadow: 2px 2px #000;
	letter-spacing: 3px;
}

 
 /* .loader {
	position: absolute;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #9e9e9e;
	width: 100px;
	height: 100px;
	top: 45%;
	left: 45%;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  } */
  
  /* Safari 
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  } */